<div class="admin-panel clearfix">
    <div class="slidebar">
        <div class="logo">
            <a href=""></a>
        </div>
        <ul>
            <li><a href="#dashboard" id="targeted">Yeni Haber</a></li>
            <li><a href="#media">media</a></li>
            <li><a href="#pages">pages</a></li>
            <li><a href="#links">links</a></li>
            <li><a href="#comments">comments</a></li>
            <li><a href="#widgets">widgets</a></li>
        </ul>
    </div>
    <div class="main">
        <ul class="topbar clearfix"></ul>
            <div class="mainContent clearfix">
                <div id="dashboard">
            <div class="container">
                <form id="addPost">
                    <h2 class="mb-4"><span class="text-danger"></span> Yeni Haber Ekle </h2>
                    <div class="form-group">
                        <input type="text" placeholder="Baslik" id="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea id="body" placeholder="Haber" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Gönder" class="btn btn-secondary mb-4">
                </form>
                <div id="output"></div>
            </div>
        </div>
                <div id="posts">
                </div>
                <div id="media">
                    <h2 class="header">media</h2>
                </div>
                <div id="pages">
                    <h2 class="header">pages</h2>
                </div>
                <div id="links">
                    <h2 class="header">links</h2>
                </div>
                <div id="comments">
                    <h2 class="header">comments</h2>
                </div>
                <div id="widgets">
                    <h2 class="header">widgets</h2>
                </div>

            </div>
            <ul class="statusbar">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li class="profiles-setting"><a href="">s</a></li>
                <li class="logout"><a href="">k</a></li>
            </ul>
    </div>
</div>