@model WebProgramlamaProjeOdevi.Models.HaberModel

<div class="admin-panel clearfix">
    <div class="slidebar">
        <div class="logo">
            <a href=""></a>
        </div>
        <ul>
            @*<li><a href="#dashboard" id="targeted">Yeni Haber</a></li>
            <li><a href="#media">media</a></li>
            <li><a href="#pages">pages</a></li>
            <li><a href="#links">links</a></li>
            <li><a href="#comments">comments</a></li>
            <li><a href="#widgets">widgets</a></li>*@
        </ul>
    </div>
    <div class="main">
        <div class="dashboard">
            <div class="container">
                <form asp-action="yonetimPanel" class="form-horizontal">
                    <h2 class="mb-4"><span class="text-danger"></span> Yeni Haber Ekle </h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="haber_baslik" type="text" placeholder="Baslik" id="title" class="form-control">
                        <span asp-validation-for="haber_baslik" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="haber_icerik" id="body" placeholder="Haber" class="form-control"></textarea>
                        <span asp-validation-for="haber_icerik" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label  class="control-label">Haberiin Görseli</label>
                        <input type="file" asp-for="haber_gorsel" accept="image/*" />
                        <span asp-validation-for="haber_gorsel" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-secondary mb-4">
                </form>
                <div id="output"></div>
            </div>
        </div>
        <ul class="topbar clearfix"></ul>
        <div class="mainContent clearfix">

            
            <div id="posts">
            </div>
            <div id="media">
                <h2 class="header">media</h2>
            </div>
            <div id="pages">
                <h2 class="header">pages</h2>
            </div>
            <div id="links">
                <h2 class="header">links</h2>
            </div>
            <div id="comments">
                <h2 class="header">comments</h2>
            </div>
            <div id="widgets">
                <h2 class="header">widgets</h2>
            </div>

        </div>
        <ul class="statusbar">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li class="profiles-setting"><a href="">s</a></li>
            <li class="logout"><a href="">k</a></li>
        </ul>
    </div>
</div>
@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>

    }
}
